.container {
  height: 100vh;
  background-color: var(--background-color-content);
  position: relative;
}
.container::before {
  content: url("../assets/spring.svg");
  display: block;
  transform: translateY(-60%);
}
