.synonymsSection {
  text-align: center;
  font-size: 14px;
}

.title {
  font-weight: 600;
  text-decoration: underline;
  padding: 5px 0;
}

.synonyms {
  border: medium var(--highlight-color);
  border-style: double;
  border-radius: 5px;
  padding: 5px;
  font-family: var(--secondary-font-family);
}

.synonym {
  font-style: italic;
}
