.form {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.searchInput {
  width: 570px;
  padding-block: 24px;
  padding-left: 60px;
  background: white url("../../assets/search-icon.svg") no-repeat 30px;
  border: 1.5px solid #000;
  border-radius: 16px;
  box-shadow: 4px 4px #81adc8;
  color: var(--text-color-regular);
}

.searchInput::placeholder {
  color: var(--text-color-regular);
}

.searchInput:focus {
  outline: 0;
  border: 1.5px solid #000;
  box-shadow: 6px 6px #81adc8;
}
