@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;900&display=swap");

:root {
  --font-family: "Montserrat Alternates", sans-serif;
  --text-color-regular: #4d4d4d;
  --text-color-highlight: #cd4631;
  --background-color-header: #f7ede8;
  --background-color-content: #edf3f7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.app {
  font-family: var(--font-family);
  color: var(--text-color-regular);
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.definitions {
  list-style: none;
  padding: 0;
}

.dictionary-content {
  max-width: 800px;
  margin: 0 auto;
}
