.App {
  font-size: 12px;
  font-family: var(--main-font-family);
}

.App header {
  text-align: center;
  margin: 30px;
}
.App form {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}

.App form .search-button {
  margin-left: 20px;
}

.App .main-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.App section {
  background: var(--background-color);
  padding: 15px 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.App footer {
  text-align: center;
  margin: 20px;
  font-family: var(--secondary-font-family);
}

.App a {
  color: black;
}
.App a i {
  margin: 8px;
  font-size: 16px;
  color: black;
}
