:root {
  --main-font-family: "Martel", serif;
  --secondary-font-family: "Open Sans", sans-serif;
  --primary-color: #425460;
  --secondary-color: #186dd7;
  --highlight-color: #fdf3a9;
  --background-color: #d3d3ff;
}
