.Meanings {
  text-align: start;
  margin-bottom: 15px;
}
.Meanings .part-of-speech {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--highlight-color);
  font-style: italic;
  margin-bottom: 20px;
}

.Meanings .definition {
  font-size: 16px;
}

.Meanings .index-number {
  font-size: 12px;
  font-weight: 600;
}

.Meanings .Example {
  margin: 10px 0 10px 35px;
  color: var(--secondary-color);
  font-family: var(--secondary-font-family);
  font-style: italic;
  font-size: 14px;
}
