.Synonyms {
  text-align: center;
  font-size: 14px;
}

.Synonyms h6 {
  font-weight: 600;
  text-decoration: underline;
  padding: 5px 0;
}
.Synonyms .synonyms-block {
  border: medium white;
  border-style: double;
  border-radius: 5px;
  padding: 5px;
  font-family: var(--secondary-font-family);
}
.Synonyms .synonym {
  font-style: italic;
}
